.home {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
    &__table {
        max-width: 1200px;
    }
}
