.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: blanchedalmond;
        border-radius: 12px;
        padding: 5px;
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;
}
